samsung/node.json
[{"id":"d81c41bd.3540a","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"e2269446.764518","type":"inject","z":"d81c41bd.3540a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":100,"wires":[["63e9a511.a21a9c"]]},{"id":"63e9a511.a21a9c","type":"samsung-tv-token","z":"d81c41bd.3540a","name":"","x":470,"y":100,"wires":[["fa8418f6.9c4e98"]]},{"id":"fa8418f6.9c4e98","type":"debug","z":"d81c41bd.3540a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":240,"wires":[]}]
