panasonic/example-flow.json
[{"id":"91be306d.1f2a4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"66bcc716.a80a48","type":"inject","z":"91be306d.1f2a4","name":"1. Start","topic":"","payload":"192.168.1.1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":120,"wires":[["4c5e71a4.2667b"]]},{"id":"4c5e71a4.2667b","type":"http request","z":"91be306d.1f2a4","name":"Challenge abrufen","method":"POST","ret":"txt","paytoqs":false,"url":"http://panasonic/challenge","tls":"","persist":false,"proxy":"","authType":"","x":600,"y":120,"wires":[["5d68c465.50544c"]]},{"id":"5d68c465.50544c","type":"debug","z":"91be306d.1f2a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":920,"y":140,"wires":[]},{"id":"a4ee196.4b132e8","type":"inject","z":"91be306d.1f2a4","name":"2. PIN","topic":"","payload":"{\"ip\":\"192.168.1.1\",\"challenge\":\"PASTE CHALLENGE HERE\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":200,"wires":[["73439772.4f5cf8"]]},{"id":"73439772.4f5cf8","type":"http request","z":"91be306d.1f2a4","name":"Secrets abrufen","method":"POST","ret":"txt","paytoqs":false,"url":"http://panasonic/secrets","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":200,"wires":[["4cd1466c.6b46d8"]]},{"id":"4cd1466c.6b46d8","type":"debug","z":"91be306d.1f2a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":920,"y":220,"wires":[]},{"id":"e3d0bce8.4bb37","type":"inject","z":"91be306d.1f2a4","name":"Lautstärke setzen","topic":"","payload":"20","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":400,"wires":[["fda20255.c6d6e"]]},{"id":"fda20255.c6d6e","type":"http request","z":"91be306d.1f2a4","name":"Secrets abrufen","method":"POST","ret":"txt","paytoqs":false,"url":"http://panasonic/set/volume","tls":"","persist":false,"proxy":"","authType":"","x":600,"y":400,"wires":[[]]},{"id":"cfb79421.4618f8","type":"inject","z":"91be306d.1f2a4","name":"Menü öffnen","topic":"","payload":"menu","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":460,"wires":[["76d77a8a.0f1404"]]},{"id":"76d77a8a.0f1404","type":"http request","z":"91be306d.1f2a4","name":"Secrets abrufen","method":"POST","ret":"txt","paytoqs":false,"url":"http://panasonic/key","tls":"","persist":false,"proxy":"","authType":"","x":600,"y":460,"wires":[[]]}]
